@media (min-width: 1200px) {
  ion-app {
    max-width: 1024px;
    margin: auto auto;
  }
}

ion-header {
  padding-top: var(--safe-area-inset-top);
}

ion-tab-bar {
  padding-bottom: var(--safe-area-inset-bottom);
}

ion-row.station-placeholder ion-skeleton-text {
  height: 2em;
  width: 100%;
}
