@media (min-width: 1200px) {
  ion-app {
    max-width: 1024px;
    margin: auto auto;
  }
}

.icon-hero {
  font-size: 64px;
}

.text-sm {
  font-size: 0.9em;
}

ion-row.station-placeholder ion-skeleton-text {
  height: 2em;
  width: 100%;
}

ion-row.station-placeholder-warning ion-skeleton-text {
  --background: var(--ion-color-warning-shade);
  --background-rgb: var(--ion-color-warning-rgb);
}
