# fly.toml app configuration file generated for radio-pad-switchboard on 2025-07-14T21:46:21Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'radio-pad-switchboard'
primary_region = 'iad' # https://fly.io/docs/reference/regions/

[build]

[env]
  SWITCHBOARD_PORT = '1980'

[http_service]
  internal_port = 1980
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 0

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '3s'
    method = 'GET'
    path = '/healthz'

[[restart]]
  policy = 'always'
  retries = 3

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
